# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ List of popular languages that Data Scientists use
+ List of the commonly used libraries used by Data Scientists
+ A table listing some development environment data science tools
+ Some arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Matlplotlib
2. Numpy
3. Pandas

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |
| Spyder             |

### Below are a few examples of evaluating arithmetic expressions in Python:
1. 5+3
2. 6-2
3. 2*3
4. 10/2
5. 20%20
6. 2**4

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60

print(hours)

3.3333333333333335

## Author
Alankar Singh